%h1
  %strong
    %u
      .col-md-12
        .text-center
          Clinics
          %h4
            = link_to "Add New Clinic", new_clinic_path
            |
            = link_to "Return to Main", root_path
          %br
/ %p{class: "text-left"}
- @clinics.each do |clinic|
  .col-md-4.text-center
    %strong
      Clinic Name:
    = link_to clinic.name, clinic_path(clinic)
    %br
    = link_to "Edit Clinic", edit_clinic_path(clinic)
    |
    = link_to "Delete Clinic", clinic_path(clinic), method: :delete
    %br
    %br
