%br/
.col-md-4.col-md-offset-4
  .text-center
    %strong
      %h1
        %u 
          Patient:
          = @patient.last_name + ", " + @patient.first_name
      = "Patient Status: "
      = workflow_state_helper(@patient)
      %br
    %br
    -if @patient.workflow_state == "waiting_room"
      = link_to "To Doctor", to_doctor_patient_clinic_patient_path(@clinic, @patient), method: :patch
      |
      = link_to "To X-ray", to_xray_patient_clinic_patient_path(@clinic, @patient), method: :patch
      |
      = link_to "To Surgery", to_surgery_patient_clinic_patient_path(@clinic, @patient), method: :patch
      |
      = link_to "Leave", leave_patient_clinic_patient_path(@clinic, @patient), method: :patch
    -elsif @patient.workflow_state == "doctor_checkup"
      = link_to "To X-ray", to_xray_patient_clinic_patient_path(@clinic, @patient), method: :patch
      |
      = link_to "To Surgery", to_surgery_patient_clinic_patient_path(@clinic, @patient), method: :patch
      |
      = link_to "To Pay Bill", to_pay_bill_patient_clinic_patient_path(@clinic, @patient), method: :patch
    -elsif @patient.workflow_state == "xray"
      = link_to "To Doctor", to_doctor_patient_clinic_patient_path(@clinic, @patient), method: :patch
      |
      = link_to "To Surgery", to_surgery_patient_clinic_patient_path(@clinic, @patient), method: :patch
      |
      = link_to "To Pay Bill", to_pay_bill_patient_clinic_patient_path(@clinic, @patient), method: :patch
    -elsif @patient.workflow_state == "surgery"
      = link_to "To Doctor", to_doctor_patient_clinic_patient_path(@clinic, @patient), method: :patch
      |
      = link_to "To X-ray", to_xray_patient_clinic_patient_path(@clinic, @patient), method: :patch
      |
      = link_to "To Pay Bill", to_pay_bill_patient_clinic_patient_path(@clinic, @patient), method: :patch
    -elsif @patient.workflow_state == "pay_bill"
      = link_to "Leave", leave_patient_clinic_patient_path(@clinic, @patient), method: :patch
    -elsif @patient.workflow_state == "left"
      = link_to "Back in to Waiting Room", wait_patient_clinic_patient_path(@clinic, @patient), method: :patch
    %br
    %br
  %p{class: "text-left"}
    %strong Patient DOB:
    = @patient.date_of_birth
    %br/
    %strong Patient Illness Description:
    = @patient.description
    %br/
    %strong Patient Gender:
    = @patient.gender
    %br/
    %strong Patient Blood Type:
    = @patient.blood_type
    %br/
    = link_to "Edit Patient/Medication", edit_clinic_patient_path(@clinic, @patient)
    |
    \#{link_to "Delete Patient", clinic_patient_path(@clinic, @patient), method: :delete}
    %br/
    = link_to "Return to Clinic", clinic_path(@clinic)
    |
    \#{link_to "Return to Main", root_path}
    %br/
    %br/
    %strong Patient Medications:
    %br/
    - @medications.each do |medication|
      %strong Medication Name:
      = medication.name
      %br/
      %strong Company:
      = medication.company
      %br/
      %strong Adverse Reactions:
      = medication.adverse_reactions
      %br/
      %strong Generic Options Available:
      = medication.generic_option
      %br/
    %br
    %strong Patient Doctor:
    %br
    - @doctors.each do |doctor|
      = doctor.doctor_name
      = link_to "Remove Doctor", destroy_doctor_clinic_patient_path(@patient, doctor), method: :delete
      %br
    %br
    = form_for @doctor, url: create_doctor_clinic_patient_path(@clinic, @patient) do |f|
      = f.label :doctor_name
      = f.text_area :doctor_name
      = f.submit
